@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    height: 25vw;
    background-color: rgb(0, 0, 0);
}

header > h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10vw;
    font-family: 'Passion One', cursive;
    font-weight: 700;
    margin-top: 30px;
}

header > p{
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1em;
    display: block;
}

header a {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main > p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    margin: 60px 0px 30px;
    padding-left: 30px;
    line-height: 2em;
    height: 40vw;
}




div.flor {
    background-image: url(imagens/joaninha.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vw;
}


p.flor2 {
    font-size: 3.5vw;
    margin-top: 15vw;
    margin-bottom: 0vw;
    left: 30px;
    color: white;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.473);
    font-family: 'Sriracha', cursive;
    height: 45vw;
    

}
.top {
    margin-bottom: 170px;
    margin-top: 100px;
}
.orar {
    margin-top: 20vw;
}
.bottom {
    margin-bottom: 150px;
}

div.livro2 {
        background-image: url(imagens/background002.jpg);
        background-position: right center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 88vw;
}

p.livro {
    font-size: 3.5vw;
    margin-top: 20vw;
    margin-bottom: 1vw;
    left: 30px;
    color: white;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.473);
    font-family: 'Sriracha', cursive;
    height: 48vw;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-top: 180px;
    font-size: 1vw;
    padding-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
